body{
    margin: 0;
    padding: 0;
    background-attachment: fixed;
    color: black;
}
.table {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100%;
    border: solid medium black;
    border-collapse: collapse;
}

tr, td {
    border: medium solid black;
}
tr:first-child {
    height: 20vh;
}

tr td:first-child, tr td:last-child{
    width: 20%;
}

h1{
    text-align: center;
}

.ora {
    font-size: 5em;
    text-align: center;
}

.kategoriak, .hatter{
    position: sticky;
    font-size: 2.5em;
    margin: 1em;
    position: relative;
    top:0  
}

.vicct{
    display: flex;
    margin: 2em;
    padding-right: 15em;
    flex-direction: column;
}

.vicc{
    margin: 2em;
    font-size: 1.5em;
}
